# ------------------------------
# Python & Jupyter
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
.Python
*.egg-info/
*.egg
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_convert/

# Virtual environments
.venv/
venv/
ENV/
env/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Logs & temp
*.log
*.tmp
*.temp
*.DS_Store
Thumbs.db

# ------------------------------
# Editors & IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS-specific
# ------------------------------
Desktop.ini
ehthumbs.db